* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f9fafb;
  color: #222;
  line-height: 1.6;
}
/* Navbar------------------------------- */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  border-bottom: 1px solid #e5e7eb;
  background-color: #fff;
}
.nav-links {
  display: flex;
  gap: 30px;
}
.nav-links li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: rgb(88, 86, 86);
}
.navbar ul {
  list-style: none;
}

/* Hero ---------------------------------------------------*/
.hero {
  text-align: center;
  padding: 150px 20px;
  background: linear-gradient(135deg, #4f46e5, #6366f1);
  color: white;
  background-image: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.12),
      rgba(0, 0, 0, 0.02)
    ),
    url("images/hero-bg.png");
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.subtitle {
  max-width: 700px;
  margin: 0 auto 30px;
  font-size: 1.1rem;
}

.btn {
  display: inline-block;
  padding: 12px 28px;
  background-color: white;
  color: #f9fafb;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
  background: #469165;
  width: 200px;
}

.btn.dark {
  background-color: #4f46e5;
  color: white;
}

.small-text {
  margin-top: 15px;
  font-size: 0.9rem;
  opacity: 0.9;
}

.card {
  background-color: white;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}
.card-img {
  width: 80px;
  height: 80px;
  background: #bf3636;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;
  padding: 10px;
  overflow: hidden;
}
.card h3 {
  margin-bottom: 10px;
}

/* Solution----------------------------------------------------------------- */
.solution {
  background-color: #eef2ff;
  padding: 70px 20px;
  padding-left: 80px;
  text-align: start;
  display: flex;
  justify-content: center;
}

#solution-text-part {
  display: flex;
  align-items: center;
  justify-content: center;
}
.solution-text {
  /* background-color: #469165; */
  width: 70%;
  margin-left: -100px;
}
.solution-text h4 {
  color: #2faa64;
  font-size: 0.9rem;
}
.solution h2 {
  font-size: 3rem;
  margin: 0; /* top & bottom gap remove */
  margin-top: 10px;
  margin-bottom: 15px;
  line-height: 1;
  /* background-color: #2faa64; */
}

.solution p {
  max-width: 700px;
  margin: 0 auto 30px;
  color: gray;
}

.solution ul {
  list-style: none;
  max-width: 600px;
  margin: auto;
  font-weight: bold;
  gap: 10px;
}

.solution li {
  display: flex;
  align-items: center; /* vertical center */

  margin-bottom: 15px;
}

/* Footer---------------------------------------------------- */
footer {
  text-align: center;
  padding: 20px;
  background-color: #111;
  color: white;
  font-size: 0.9rem;
}
