* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f9fafb;
  color: #222;
  line-height: 1.6;
}
/* Navbar------------------------------- */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  border-bottom: 1px solid #e5e7eb;
  background-color: #fff;
}
.nav-links {
  display: flex;
  gap: 30px;
}
.nav-links li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: rgb(88, 86, 86);
}
.navbar ul {
  list-style: none;
}

/* Hero ---------------------------------------------------*/
.hero {
  text-align: center;
  padding: 150px 20px;
  background: linear-gradient(135deg, #4f46e5, #6366f1);
  color: white;
  background-image: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.12),
      rgba(0, 0, 0, 0.02)
    ),
    url("images/hero-bg.png");
}
.early-badge {
  display: inline-flex;
  align-items: center;
  gap: 10px;

  padding: 8px 16px;
  background: #ffffff;
  border-radius: 999px;

  font-size: 13px;
  font-weight: 600;
  color: #2e8b57;
  margin-bottom: 10px;
}

.hero h1 {
  font-size: 3.9rem;
  margin-bottom: 20px;
  font-weight: bolder;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 15px;
  line-height: 1;
}
#hero-heading {
  color: #30ab65;
}

.subtitle {
  max-width: 700px;
  margin: 0 auto 30px;
  font-size: 1.1rem;
}

.btn {
  display: inline-flex;
  align-items: center; /* vertical center */
  justify-content: center;
  padding: 12px 28px;
  background-color: #469165;
  color: #f9fafb;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
  background: #469165;
  gap: 8px;
}
.btn-2 {
  display: inline-flex;
  align-items: center; /* vertical center */
  justify-content: center;
  padding: 11px 27px;
  border: 1px solid white;
  color: #f9fafb;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
  margin-left: 3px;

  gap: 8px;
}
.btn:hover {
  background-color: #249955;
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}
.btn.dark {
  background-color: #4f46e5;
  color: white;
}

.small-text {
  margin-top: 15px;
  font-size: 0.9rem;
  opacity: 0.9;
}

/* Solution----------------------------------------------------------------- */
.solution {
  background-color: white;
  padding: 70px 20px;
  padding-top: 40px;
  padding-left: 100px;
  text-align: start;
  display: flex;
  justify-content: center;
}

#solution-text-part {
  display: flex;
  align-items: center;
  justify-content: center;
}
.solution-text {
  /* background-color: #469165; */
  width: 70%;
  margin-left: -100px;
}
.solution-text h4 {
  color: #2faa64;
  font-size: 0.9rem;
}
.solution h2 {
  font-size: 3rem;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 15px;
  line-height: 1;
  /* background-color: #2faa64; */
}

.solution p {
  max-width: 700px;
  margin: 0 auto 30px;
  color: gray;
}

.solution ul {
  list-style: none;
  max-width: 600px;
  margin: auto;
  font-weight: bold;
  gap: 10px;
}

.solution li {
  display: flex;
  align-items: center;

  margin-bottom: 15px;
}
/* Problems---------------------- */
.problems {
  padding: 70px 20px;
  text-align: center;
}

.problems h2 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.section-subtitle {
  max-width: 630px;
  margin: 0 auto 40px;
  color: #555;
}

.problem-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  max-width: 1000px;
  margin: auto;
}
.card {
  background-color: white;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}
.card-img {
  width: 70px;
  height: 70px;
  background: #f95555;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;
  padding: 0px;
  overflow: hidden;
}
.card h3 {
  margin-bottom: 10px;
}
/* CTA------------------------- */
.cta {
  text-align: center;
  padding: 70px 20px;
}
.cta-heading {
  font-size: 2.5rem;
}
.cta p {
  max-width: 630px;
  margin: 0 auto 20px;
  color: #555;
}
.cta a {
  margin-top: 0px;
  margin-bottom: 10px;
}
/* Footer---------------------------------------------------- */
footer {
  text-align: center;
  padding: 20px;
  background-color: #111;
  color: white;
  font-size: 0.9rem;
}
